body {
  margin-bottom: 0px;
  background-color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Satisfy, sans-serif;
  color: white;
  font-size: 90px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: Satisfy, sans-serif;
  color: #32487d;
  font-size: 35px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  padding-top: 13px;
  padding-bottom: 22px;
  font-family:'Open Sans', sans-serif;
}
.button {
  display: inline-block;
  padding: 8px 15px;
  border-bottom: 2px solid #d99cbd;
  border-radius: 3px;
  background-color: #edb4d3;
  color: white;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.section-header {
  padding-top: 249px;
  padding-bottom: 230px;
  background-image: url('../images/top-photo-2.jpg');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.header-date {
  padding-top: 8px;
  font-family: Bitter, serif;
  color: white;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
}
.top-nav-container {
  text-align: center;
}
.top-nav-menu {
  float: none;
  text-align: center;
}
.header-navbar {
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
  border-bottom: 0px none #e5e7e7;
  background-color: #f4f5f5;
}
.header-nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family:'Open Sans', sans-serif;
  color: #8c8c8c;
}
.header-nav-link:hover {
  color: #3c8ec2;
}
.header-nav-link.w--current {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3c8ec2;
  color: #3c8ec2;
}
.section-subtitle {
  padding-top: 60px;
  padding-bottom: 40px;
}
.party-left-text {
  padding-top: 54px;
  font-family: Bitter, serif;
  font-size: 19px;
  line-height: 21px;
  text-align: right;
}
.party-left-photo {
  text-align: right;
}
.party-right-text {
  padding-top: 54px;
  font-family: Bitter, serif;
  font-size: 19px;
  line-height: 21px;
}
.section-ceremony {
  padding-top: 40px;
  padding-bottom: 75px;
  background-color: #f7f7f7;
}
.section-party {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-reception {
  padding-top: 40px;
  padding-bottom: 75px;
}
.subhead {
  padding-bottom: 55px;
  font-family: Bitter, serif;
  color: #8c8c8c;
  font-style: italic;
  text-align: center;
}
.subhead.registry {
  padding-bottom: 21px;
}
.location-left {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 26px;
  text-align: left;
}
.location-right {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 26px;
}
.section-accommodations {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}
.reserve-text {
  padding-top: 13px;
  padding-bottom: 22px;
  font-family:'Open Sans', sans-serif;
  text-align: left;
}
.div-reserve {
  text-align: left;
}
.section-contact {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-text {
  text-align: center;
}
.contact-div {
  text-align: center;
}
.container-facebook {
  text-align: center;
}
.section-registry {
  padding-top: 40px;
  padding-bottom: 40px;
}
.registered-text {
  text-align: center;
}
.party-row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.title-party {
  font-family: Bitter, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
.address {
  padding-top: 6px;
  padding-bottom: 23px;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
}
.with-subhead {
  padding-bottom: 8px;
}
.more-info-right {
  padding-top: 0px;
  padding-right: 14px;
  padding-bottom: 22px;
  font-family:'Open Sans', sans-serif;
}
.more-info-left {
  padding-top: 0px;
  padding-right: 77px;
  padding-bottom: 22px;
  font-family:'Open Sans', sans-serif;
}
.left-align {
  text-align: left;
}
.church-background {
  height: 300px;
  padding-top: 0px;
  background-image: url('../images/church-photo.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.reception-photo-background {
  height: 300px;
  background-image: url('../images/reception-hall.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.footer-section {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0px solid black;
  background-color: #f7f7f7;
}
.icon-column {
  text-align: center;
}
.footer-facebook-connect {
  float: right;
}
.footer-message {
  font-family:'Open Sans', sans-serif;
}
.footer-message-title {
  padding-left: 13px;
  float: left;
  font-family:'Open Sans', sans-serif;
  color: #edb4d3;
}
.heart-image {
  float: left;
}
html.w-mod-js *[data-ix="fade-in-first"] {
  display: block;
  opacity: 0;
}
html.w-mod-js *[data-ix="move-up-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  -o-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
@media (max-width: 991px) {
  .top-nav-text {
    display: none;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-bottom: 10px;
    font-size: 75px;
  }
  h2 {
    line-height: 42px;
  }
  .section-header {
    padding-top: 150px;
    padding-bottom: 83px;
  }
  .top-nav-menu {
    background-color: #32487d;
  }
  .header-nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ccc;
    font-size: 16px;
  }
  .header-nav-link.w--current {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    color: white;
  }
  .party-left-text {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }
  .party-left-photo {
    text-align: center;
  }
  .party-right-text {
    padding-top: 37px;
    padding-bottom: 10px;
    text-align: center;
  }
  .party-right-photo {
    text-align: center;
  }
  .section-ceremony {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .section-reception {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .subhead {
    padding-bottom: 25px;
  }
  .location-left {
    padding-top: 25px;
    padding-bottom: 11px;
  }
  .location-right {
    padding-top: 25px;
    line-height: 35px;
  }
  .section-accommodations {
    padding-right: 30px;
    padding-left: 30px;
  }
  .reserve-text {
    text-align: center;
  }
  .div-reserve {
    padding-bottom: 68px;
    text-align: center;
  }
  .party-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .address {
    line-height: 22px;
  }
  .more-info-right {
    padding-right: 0px;
  }
  .more-info-left {
    padding-right: 0px;
  }
  .left-align {
    text-align: center;
  }
  .menu-button-icon {
    float: left;
  }
  .menu-button-icon.w--open {
    background-color: #32487d;
  }
  .top-nav-text {
    display: block;
    width: 300px;
    padding-top: 21px;
    padding-right: 20px;
    float: right;
    font-family: Quicksand, sans-serif;
    color: #32487d;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
  }
  .ceremony-map-row {
    padding-right: 30px;
    padding-left: 30px;
  }
  .map-base-container {
    height: 200px;
  }
  .registry-icon {
    text-align: left;
  }
  .icon-column {
    text-align: center;
  }
  .footer-fb-column {
    text-align: center;
  }
  .footer-facebook-connect {
    float: none;
  }
  .footer-message-title {
    padding-top: 6px;
    padding-bottom: 25px;
    padding-left: 0px;
    float: none;
  }
  .heart-image {
    float: none;
  }
  .footer-left-column {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 67px;
    line-height: 64px;
  }
  .party-left-text {
    text-align: center;
  }
  .party-left-photo {
    text-align: center;
  }
  .party-right-photo {
    text-align: center;
  }
  .location-left {
    padding-bottom: 0px;
    line-height: 33px;
  }
  .location-right {
    line-height: 33px;
  }
  .address {
    font-size: 16px;
    line-height: 22px;
  }
  .top-nav-text {
    width: 210px;
  }
}

